.info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    padding: 0px 10%;
  }

  .pageview-text {
    letter-spacing: 2px;
    align-self: center;
  }

  .price-wrapper {
    display: flex;
    flex-direction: row;
  }

  .price-wrapper-mobile {
    display: none;
  }

  .price-wrapper > span {
      align-self: center;
  }

  .price-wrapper-mobile > span {
    align-self: center;
  }

  .bold-price {
      font-weight: bold;
      font-size: 40px;
      margin-right: 10px;
      color: hsl(227, 35%, 25%)
  }

  @media only screen and (max-width: 475px) {
    .info-wrapper {
      flex-direction: column;
    }

    .price-wrapper {
      display: none;
    }

    .price-wrapper-mobile {
      display: flex;
      justify-content: center;
    }
  }